* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --def-size: 18px;
    --light-fg: #DDDDDD;
    --light-bg: #FF8DF5;
    --dark-bg: #181D1F;

    --header-height: 150px;
}

#root {
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    background-image: linear-gradient(135deg, #2f202f 0%, #1b142e 100%);
    background-repeat: no-repeat;
    overflow: hidden;
}

.page-section {
    min-height: calc(100vh - var(--header-height));
    padding: 70px 13%;
}

.page-section h3 {
    margin: 20px 0;
}