/* Header elements */
header {
    display: flex;
    height: var(--header-height);
    background-color: var(--bg);
    padding: 8px 50px;
}

.header__element {
    display: inline-block;
}

/* Header tools */
.header__tools {
    display: flex;
}
.header__tools button, .header__tools select {
    margin: 0 8px;
}