#header__logo {
    width: 65px;
}

header span {
    font-family: 'Rubik Light', sans-serif;
    font-size: var(--def-size);
    color: var(--light-fg);
    cursor: pointer;
    transition-duration: .5s;
}

header span:hover {
    transform: scale(1.08);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 30px;
}

.header__part {
    display: inline-flex;
    height: 100%;
    width: 30%;

    align-items: center;
    justify-content: space-between;
}