* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --def-size: 18px;
    --light-fg: #DDDDDD;
    --light-bg: #FF8DF5;
    --dark-bg: #181D1F;

    --header-height: 150px;
}

#root {
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: scroll;

    /* For Firefox (Thanks Mozilla) */
    scrollbar-color: #FF8DF5BB rgba(0, 0, 0, 0);
}

/* For Chrome, Edge, and Safari */
#root::-webkit-scrollbar {
    width: 6px;
}

#root::-webkit-scrollbar-track {
    background: none;
}

#root::-webkit-scrollbar-thumb {
    background-color: #FF8DF5BB;
    border-radius: 8px;
}

#root::-webkit-scrollbar-thumb:hover {
    background-color: #FF8DF588;
}

body {
    background-image: linear-gradient(135deg, #2f202f 0%, #1b142e 100%);
    background-repeat: no-repeat;
    overflow: hidden;
}

.page-section {
    min-height: calc(100vh - var(--header-height));
    padding: 50px 13%;
}

.page-section > h2, .page-section > p {
    color: var(--light-fg);
}

.page-section > p {
    margin: 20px 0;
}

/* Buttons */
.button {
    padding: 15px 35px;
    font-family: "Rubik", sans-serif;
    font-size: var(--def-size);
    border-radius: 15px;
    border: none;
    filter: drop-shadow(5px 5px 5px rgba(21, 21, 21, 0.37));
    margin: 0 10px;
    cursor: pointer;
    transition-duration: .5s;
}

.button:hover {
    transform: scale(1.02);
}

.main-button {
    color: #222222;
    background-color: var(--light-bg);
}

.main-button:hover {
    background-color: #f8a2ef;
}

.secondary-button {
    color: var(--light-fg);
    background-color: rgba(0, 0, 0, .15);
}

.secondary-button:hover {
    background-color: #261e28;
}

/* Texts */
.title {
    font-family: 'Rubik Medium', Ubuntu, Roboto, sans-serif;
    font-size: 65px;
}

.descriptor {
    font-family: 'Rubik Light', Ubuntu, Roboto, sans-serif;
    font-size: 25px;
}

.small-descriptor {
    font-family: 'Rubik', Ubuntu, Roboto, sans-serif;
    font-size: 18px;
}

@media (max-width: 900px) {
    .title {
        font-size: 36px;
    }

    .descriptor {
        font-size: 18px;
    }

    .small-descriptor {
        font-size: 16px;
    }

    .button {
        padding: 10px 20px;
        font-size: 16px;
        margin: 0 3px;
    }

    .page-section {
        padding: 5px 13%;
    }
}