* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --def-size: 18px;
    --light-fg: #DDDDDD;
    --light-bg: #FF8DF5;
    --dark-bg: #181D1F;
}

body {
    height: 100vh;
    background-image: linear-gradient(135deg, #2f202f 0%, #1b142e 100%);
    background-repeat: no-repeat;
}