main h1, main p {
    color: var(--light-fg);
}

main {
    padding: 0 13%;
}

main h1 {
    font-family: "Rubik Medium", sans-serif;
    font-size: 65px;
    margin: 70px 10px 30px;
}

main p {
    font-family: "Rubik Light", sans-serif;
    font-size: 25px;
    margin: 30px 10px 50px;
}

/* buttons */
main button {
    padding: 15px 35px;
    font-family: "Rubik", sans-serif;
    font-size: var(--def-size);
    border-radius: 15px;
    border: none;
    filter: drop-shadow(5px 5px 5px rgba(21, 21, 21, 0.37));
    margin: 0 10px;
}

.main-button {
    color: #222222;
    background-color: var(--light-bg);
}

.secondary-button {
    color: var(--light-fg);
    background-color: #1d161F;
}