/**
    Font face import, adds the minecraftia
    font. https://dafont.com/minecraftia.font
 */
@font-face {
    font-family: 'minecraftmedium';
    src: url('minecraftia-regular.woff2') format('woff2'),
        url('minecraftia-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}