/**
    Styles for the unique dialog
    in the page
 */
#dialog-bg {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    height: 100%;
}
#dialog {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2);
    background-color: var(--secondary-bg);
    border-radius: 8px;
    padding: 32px;
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

#dialog__heading {
    margin-bottom: 10px;
}

#dialog__info {
    margin-bottom: 20px;
}