@import url("base.css");
@import url("dialog.css");
@import url("header.css");
@import url("workspace.css");
@import url("sidebar.css");
@import url("../font/minecraftia.css");

* {
    /* Global properties */
    box-sizing: border-box;
}