/* Sidebars */
nav {
    display: inline-block;
    flex: 0 0 100px;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: var(--secondary-bg);
    width: var(--sidebar-width);
    padding: 8px 50px;

    overflow: hidden;
    margin: 0;
}

.sidebar-heading {
    text-align: center;
}

.left-sidebar {
    float: left;
}

.right-sidebar {
    float: right;
    padding: 25px;
}

.disabled-sidebar {
    filter: brightness(60%) blur(1px);
}

.sidebar-input {
    margin: 20px auto;
}

.sidebar-input select:enabled:hover {
    background-color: var(--color);
}

.sidebar-input input, .sidebar-input textarea, .sidebar-input select {
    border: 1px solid var(--color);
    margin: 8px 0 12px;
    font-size: 16px;
    background: none;
    width: 100%;
    padding: 8px;
    outline: none;
}

.horizontal-control-container {
    display: flex;
    justify-content: space-around;
}

#lore {
    height: 250px;
}