/* Sidebars */
nav {
    display: flex;
    flex: 0 0 100px;
    height: calc(100vh - var(--header-height));
    background-color: var(--secondary-bg);
    width: var(--sidebar-width);
    padding: 8px 16px;

    flex-direction: column;
    justify-content: space-around;

    margin: 0;
}

.left-sidebar {
    display: flex;
    float: left;
}

#item-list-container {
    display: flex;
    min-height: 0;
}

#item-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    overflow-x: hidden;
    overflow-y: scroll;
}

.item-element {
    cursor: move;
    display: inline-block;
    border: 1px solid var(--color);
    padding: .8vw;
    width: 30%;
    margin: 1vh 0;
}

.item-element img {
    display: block;
    width: 100%;
    height: 100%;
}

.right-sidebar {
    float: right;
    padding: 25px;
}

.sidebar-input select:enabled:hover {
    background-color: var(--color);
}

.sidebar-input input, .sidebar-input textarea, .sidebar-input select {
    border: 1px solid var(--color);
    margin: 8px 0 12px;
    font-size: 16px;
    background: none;
    width: 100%;
    padding: 8px;
    outline: none;
}

.horizontal-control-container {
    display: flex;
    justify-content: space-around;
}

#lore {
    height: 80%;
}

#lore-input {
    height: 50%;
}